.app-container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

.search-input {
  border-radius: 5px;
}

.sort-select {
  margin-left: 10px;
  padding: 2px 2px;
  border-radius: 10px;
  border: 1px solid #ccc;
}

.search-input{
  margin-bottom: 5px;
}
.business-table {
  width: 100%;
  border-collapse: collapse;
}

.business-table th,
.business-table td {
  padding: 10px;
  border: 1px solid #ddd; 
  text-align: center;
}

.business-table th {
  background-color: #f2f2f2;
  font-weight: bold;
}

.business-table td div {
  display: flex;
  justify-content: center;
}







